@keyframes fadeInButton {
	to {
		pointer-events: auto;
		cursor: pointer;
		opacity: 1;
	}
}

@keyframes fadeInGrainient {
	to {
		opacity: 1;
	}
}

.header {
	height: 5.195rem;
	display: flex;
	justify-content: center;
	align-items: center;
	position: sticky;
	top: 0;
	z-index: 998;
	background: #000000;
	overflow: hidden;
}

.buttons {
	display: flex;
	justify-content: center;
	flex-direction: row;
	gap: 5rem;
}

.buttons button {
	width: max-content;
	color: white;
	position: relative;
	padding: 1.85rem 2rem;
	opacity: 0;
	border: none;
	cursor: none;
	pointer-events: none;
	background: transparent;
	animation: fadeInButton 1s ease forwards 5s;
	pointer-events: auto;
}

.buttons button::before {
	content: "";
	position: absolute;
	width: 100%;
	height: 0;
	bottom: 0;
	left: 0;
	background: #331c9b54;
	transition: height 0.1s ease-in-out 0s;
	z-index: -1;
}

.buttons button:hover::before {
	height: 104%;
	transition: height 0.1s ease-in-out 0.1s;
}

.buttons button::after {
	content: "";
	position: absolute;
	left: 0;
	bottom: -0.2em;
	width: 100%;
	border-bottom: 7px solid #5d7dd4;
	transform: scaleX(0);
	transition: transform 0.1s ease-in-out 0.1s;
}

.buttons button:hover::after {
	transform: scaleX(1);
	transition: transform 0.1s ease-in-out 0s;
}

.buttons button:nth-child(1) {
	animation-delay: 5s;
}

.buttons button:nth-child(2) {
	animation-delay: 5.2s;
}

.buttons button:nth-child(3) {
	animation-delay: 5.4s;
}

.borderBottom,
.buttons {
	pointer-events: none;
}

.grainient {
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 0;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	animation: fadeInGrainient 1s ease-in 4.5s forwards;
}
