@keyframes fadeInButton {
	to {
		pointer-events: auto;
		cursor: pointer;
		opacity: 1;
	}
}

@keyframes fadeInBorderBottom {
	from {
		width: 0;
	}
	to {
		width: 100%;
	}
}

@keyframes fadeInGrainient {
	to {
		opacity: 1;
	}
}

@keyframes buttonBGFlow {
	0% {
		transform: translateY(0);
	}
	100% {
		transform: translateY(50%);
	}
}

.header {
	height: 5.195rem;
	display: flex;
	justify-content: center;
	align-items: center;
	position: sticky;
	top: 0;
	z-index: 998;
	background: #000000;
	overflow: hidden;
}

.borderBottom {
	width: 0;
	z-index: 999;
	top: 0;
	flex-direction: row;
	position: relative;
	height: 5.195rem;
	border-bottom: 7px solid #361c9b;
	border-image: linear-gradient(to right, #000000, #361c9b, #361c9b, #000000) 1;
	animation: fadeInBorderBottom 1.5s ease forwards 3.8s;
}

.buttons {
	display: flex;
	justify-content: center;
	flex-direction: row;
	gap: 5rem;
}

.buttons button {
	width: max-content;
	color: white;
	position: relative;
	padding: 1.85rem 2rem;
	opacity: 0;
	border: none;
	cursor: none;
	pointer-events: none;
	background: transparent;
	transition: fontWeight 0.2s ease-in;
	animation: fadeInButton 1s ease forwards 4.8s;
	pointer-events: auto;
	text-shadow: none;
	transition:
		text-shadow 0.3s ease,
		color 0.1s ease;
}

.buttons button:hover {
	text-shadow:
		0 0 2px currentColor,
		0 0 2px currentColor;
}

.buttons button:active {
	transition: color 0.1 ease;
	color: #e6dfdf;
}

.buttons button::before {
	content: "";
	position: absolute;
	width: 100%;
	height: 0;
	bottom: 0;
	left: 0;
	/* background: #331c9b54; */
	background: linear-gradient(
		to top,
		#331c9b54,
		#5c3fe095,
		#331c9b54,
		#5c3fe095,
		#331c9b54
	);
	animation: buttonBGFlow 1s linear infinite;
	transition: height 0.1s ease-in-out 0s;
	z-index: -1;
}

.buttons button:hover::before {
	height: 200%;
	transition: height 0.1s ease-in-out 0.1s;
}

.buttons button::after {
	content: "";
	position: absolute;
	left: 0;
	bottom: -0.5em;
	width: 100%;
	border-bottom: 7px solid #5c3fe095;
	transform: scaleX(0);
	transition: transform 0.1s ease-in-out 0.1s;
}

.buttons button:hover::after {
	transform: scaleX(1);
	transition:
		transform 0.1s ease-in-out 0s,
		border-bottom 0.13s ease-out;
}

.buttons button:active::after {
	border-bottom: 7px solid #7559f0;
	transition: border-bottom 0.13s ease-out;
}

.buttons button:nth-child(1) {
	animation-delay: 4.8s;
}

.buttons button:nth-child(2) {
	animation-delay: 4.9s;
}

.buttons button:nth-child(3) {
	animation-delay: 5s;
}

.borderBottom,
.buttons {
	pointer-events: none;
}

.grainient {
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 0;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	animation: fadeInGrainient 1s ease-in 4.5s forwards;
}
